@model WebApplication1.Models.HomeViewModel

<!-- van der Waal Webdesign -->
<!-- https://www.vanderwaal.eu -->

<div class="container bg-white pt-3">
    <div class="row">
        <div class="col">

            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="container-fluid">

                    <div class="row">
                        <div class="col font-weight-bold">
                            <p>
                                Modify the JSON for the class "Book()" and see the updated values in the generated Excel.
                            </p>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                @Html.TextAreaFor(m => m.json, new { @class = "form-control", style = "min-height: 300px; font-size: 12px;" })
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <duv class="col">

                            <button type="submit" class="btn btn-primary">
                                Create Excel
                            </button>

                        </duv>
                    </div>

                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col text-center pt-5 pb-3">

            <a target="_blank" href="https://www.vanderwaal.eu">
                <img src="/images/vdwwd.png" alt="van der Waal Webdesign" title="van der Waal Webdesign" />
            </a>

        </div>
    </div>
</div>